/Datasheet Generator/nbproject/private/
/Datasheet Generator/build/
/Datasheet Generator/dist/
/XMLParser/XMLParser/build/
/XMLParser/XMLParser/nbproject/private/
/OwlCAD/nbproject/private/
/OwlCAD/build/